<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <nav>
        <ul>
        <li><a href="https://www.twitch.tv/">twitch</a></li>
        <li><a href="#">Quiénes somos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    
</head>
<body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Margaret_Hamilton.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Margaret Hamilton</h1>
                <p><strong>Profesión: </strong>Ingeniera de Software</p>
                <p><strong>País: </strong>Estados Unidos</p>
                <p><strong>Resenia: </strong> Margaret Hamilton (Paoli, Estados Unidos, 17 de agosto de 1963)) fue directora de ingeniería de software para el proyecto que escribió el código de la Guía de Apollo Computer (AGC). Desarrollado en el Laboratorio de Instrumentación del MIT para la misión Apolo 11, los programadores, literalmente, tuvieron que empezar de cero.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    <section>
            <header>
                <div class="Mati"><h2>Producto destacado</h2></div>
            </header>
            <!-- Contenido del producto -->
            <footer>
            <a href="#">Continuar leyendo...</a>
            </footer>
    </section>
</body>
 
<footer>
        <p>Todos los derechos reservados</p>
        <nav>
        <ul><a href="#">Términos y condiciones</a></ul>
        <ul><a href="#">Mapa de sitio</a></ul>
        <ul><a href="#">Información legal</a></ul>
        </nav>
</footer>
</html>
